<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr> 
        <td> 9:20-11:00 am</td>     
        <td><a href="https://paumayell.github.io/pangenomics/01-introduction/index.html">¿Qué es el metabolismo especializado?</a></td>        <!-- content -->
       </tr>
      <tr>          
        <td> 11:00-11:30 am</td>     
        <td>CAFE Y GALLETAS VIRTUALES </td>        <!-- content -->
       </tr>
      <tr>           
        <td> 11:30-13:30 am</td>     
        <td><a href="https://paumayell.github.io/pangenomics/01-introduction/index.html">Introducción a Pangenómica(NS)</a></td>        <!-- content -->
      </tr>
      <tr>          
        <td> 13:30-15:00 am</td>     
        <td> COMIDA  </td>        <!-- content -->
       </tr>
      <tr>           
        <td> 15:00-17:00 am</td>     
        <td><a href="https://paumayell.github.io/pangenomics/03-annotation-with-Prokka/index.html">Anotación genómica (SG)</a></td>        <!-- content -->
      </tr>     
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>
        <td></td>
      </tr>
    <tr> 
        <td> 9:00-11:00 am</td>     
        <td><a href="https://axelramosgarcia.github.io/Genome-Mining/01-introduction/index.html">Introducción a la minería genómica </a></td>        <!-- content -->
       </tr>
      <tr>          
        <td> 11:00-11:30am</td>     
        <td>CAFE Y GALLETAS VIRTUALES </td>        <!-- content -->
       </tr>
      <tr>           
        <td> 11:30-13:30am</td>     
        <td><a href="https://axelramosgarcia.github.io/Genome-Mining/02-antismash/index.html">Identificación de BGC</a></td>        <!-- content -->
      </tr>
      <tr>          
        <td> 13:30-15:00am</td>     
        <td> COMIDA  </td>        <!-- content -->
       </tr>
      <tr>           
        <td> 15:00-17:00am</td>     
        <td><a href="https://axelramosgarcia.github.io/Genome-Mining/03-antiSMASHdb-MiBiG/index.html">Bases de datos de minería genómica</a></td>        <!-- content -->
      </tr>     
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
     <tr>               <!-- row 1   -->
        <td></td>
        <td></td>
      </tr>
    <tr> 
        <td> 9:00-10:30 am</td>     
        <td><a href="https://axelramosgarcia.github.io/Genome-Mining/04-bigscape/index.html">Redes de similaridad de BGC </a></td>        <!-- content -->
       </tr>
      <tr>          
        <td> 10:30-11:00 am</td>     
        <td>CAFE Y GALLETAS VIRTUALES </td>        <!-- content -->
       </tr>
      <tr>           
        <td> 11:00-13:30 am</td>     
        <td><a href="https://axelramosgarcia.github.io/Genome-Mining/05-bigslice-bigfam/index.html">Clusterización de BGCs en Familias de BGCs</a></td>        <!-- content -->
      </tr>
      <tr>          
        <td> 13:30-15:00 am</td>     
        <td> COMIDA  </td>        <!-- content -->
       </tr>
            <tr>           
        <td> 15:00-17:00 am</td>     
        <td><a href="https://axelramosgarcia.github.io/Genome-Mining/07-evomining/index.html"> Variación en vecindades genómicas</a></td>        <!-- content -->
      </tr>     
    
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
            <tr>               <!-- row 1   -->
        <td></td>
        <td></td>
      </tr>
   <tr> 
        <td> 9:00-11:00 am</td>     
        <td><a href="https://paumayell.github.io/pangenomics/01-introduction/index.html">Evolución para la minería genómica</a></td>        <!-- content -->
       </tr>
      <tr>          
        <td> 11:00-11:30 am</td>     
        <td>CAFE Y GALLETAS VIRTUALES </td>        <!-- content -->
       </tr>
      <tr>           
        <td> 11:30-13:30 am</td>     
        <td><a href="https://paumayell.github.io/pangenomics/06-get_homologues/index.html"> Identificación de familias conservadas</a></td>        <!-- content -->
      </tr>
      <tr>          
        <td> 13:30-15:00 am</td>     
        <td> COMIDA  </td>        <!-- content -->
       </tr>
          <tr>           
        <td> 15:00-17:00 am</td>     
        <td><a href="ETHER"> Planeación para analizar mis datos</a></td>        <!-- content -->
      </tr>         
    </table>
  </div>
   <div class="col-md-6"> <!-- right column -->
    <h3>Day 5</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td> 9:00-12:00 </td>        <!-- time    -->
        <td> Presentaciones </td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
