<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr> 
        <td> 9:20-11:00 am</td>     
        <td><a href="https://paumayell.github.io/pangenomics/01-introduction/index.html">¿Qué es el metabolismo especializado?</td>        <!-- content -->
       </tr>
      <tr>          
        <td> 11:00-11:30 am</td>     
        <td>CAFE Y GALLETAS VIRTUALES </td>        <!-- content -->
       </tr>
      <tr>           
        <td> 11:30-13:00 am</td>     
        <td><a href="https://paumayell.github.io/pangenomics/01-introduction/index.html">¿Qué es el metabolismo especializado?</td>        <!-- content -->
      </tr>
      <tr>          
        <td> 13:00-14:00 am</td>     
        <td>CAFE Y GALLETAS VIRTUALES </td>        <!-- content -->
       </tr>
      <tr>           
        <td> 14:00-16:00 am</td>     
        <td><a href="https://paumayell.github.io/pangenomics/01-introduction/index.html">¿Qué es el metabolismo especializado?</td>        <!-- content -->
      </tr>     
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>
        <td>11:30-13:00</td>        <!-- time    -->
        <td><a href="https://axelramosgarcia.github.io/Genome-Mining/01-introduction/index.html"> Genome Mining</a></td>
      </tr>
      <tr>               <!-- row 2   -->
       <td>11:30-13:00</td>        <!-- time    -->
        <td>BREAK</td>
      </tr>
      <tr>               <!-- row 3   -->
        td>13:00-14:00</td>        <!-- time    -->
        <td>Genome mning</td>      </tr>
      <tr>               <!-- row 3   -->
        td>14:00-16:00</td>        <!-- time    -->
        <td>Genome mning</td>      </tr>
      <tr>               <!-- row 3   -->
        td>13:00-14:00</td>        <!-- time    -->
        <td>Genome mning</td>      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
   <div class="col-md-6"> <!-- right column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td></td>        <!-- time    -->
        <td></td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
